.hide {
  display: none;
}

h1 {
  text-align: left;
  color: black;
  border: 20px;
}

#time {
  text-align: right;
  color: black;
  font-size: 40px;
  float: right;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

#button {
  display: block;
}
