* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 30px 5px 30px;
}

.score a {
  font-size: 1.2rem;
  color: #563d7c;
  cursor: pointer;
}

.score a:hover {
  color: #8570a5;
}

.timer {
  font-size: 1.2rem;
  color: #333;
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0 auto;
  max-width: 650px;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin: 8px;
}

p {
  display: block;
  font-size: 1.26rem;
  color: rgb(41, 39, 39);
  text-align: center;
  margin: 10px;
  padding-top: 6px;
  padding-bottom: 8px;
}

.start-button {
  display: inline-block;
  margin: 5px;
  padding: 2px 5px;
  background-color: #563d7c;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #8570a5;
}

.hide {
  display: none;
}
